.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: auto;
    height: 100vh;
    margin: 0 auto;
    background-color: var(--bg-color);
}

.login_container{
    display: flex;
    border: 1px solid var(--text-color);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
    border-radius: 2rem;
}


.label{
    font-size: 1.2rem;
    margin: 0 2rem;
}

.signup{
    display: flex;
    inline-size: auto;
    margin: 1rem 2rem;
    color:black ;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.input{
    width: 20rem; 
    height: 3rem; 
    margin: 0 auto;
    background-color: var(--blue-color);
    color: var(--text-color);
}

.btn_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    background-color: black;
    width: 20rem;
    padding: 1rem;
    color: white;
    margin: 1rem;
}

@media screen and (max-width: 600px){
    .login{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
   
    .login_container{
        display: flex;
        margin: 0 auto;
    }

    .label{
        font-size: 1rem;
        margin: 0 1rem;
    }
    .input{
        width: 12rem; 
        height: 3rem; 
        margin: 0 auto;
        background-color: var(--blue-color);
        color: var(--text-color);
    }
    .btn_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    .btn{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
        background-color: black;
        width: 12rem;
        padding: 1rem;
        color: white;
        margin: 0 auto;
    }
}