.home_container{
    display: flex;
    flex: 1;
}


.sidebar{
    display: flex;
    flex:0.26;
    overflow-y: auto;
}

.message{
    display: flex;
    flex: 0.74;
    overflow-y: auto;
}

.call_btn{
    display: flex;
    margin-top: 1rem;
    top:0;
}

.call_container{
    display: flex;
    right: 0;
    overflow-y: auto;
}